@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Poppins", sans-serif;
  background-color: #000;
  color: #fff;
}

.input {
  color-scheme: dark;
  @apply bg-black text-white outline-none;
  @apply border border-zinc-700 py-2 px-3;
  @apply rounded-md focus:border-zinc-300;
}

.btn {
  @apply flex items-center gap-2;
  @apply text-white outline-none;
  @apply py-2 px-4 rounded-md;
}
